*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:blueviolet;
    
}
body{
    background-color: blueviolet;
}

.row{
    height: 100vh;
    background-color: blueviolet;
}

.center {
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width:70%;  
    height: 70%;
    margin: 0 auto;
    padding :15% 10%;
    margin-top: 10%;
}



button {
    color:white;
    padding: 10px 30px;
    border:none;
    border-radius: 5px;
    margin-top: 30px;
    font-weight: 300;
    background-color: blueviolet;
}